@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  opacity: 1 !important;
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: red !important;
}
.box-shadow {
  box-shadow: 0px 1px 6px #0000001f;
}
/* .form-shadow{
  box-shadow: 0px 10px 45px 28px rgba(0,0,0,0.3);
  background-color: #343434;
} */
body {
  background-color: #212020;
}
#background-container {
  background-image: linear-gradient(
      rgba(12, 49, 78, 0) 0%,
      rgb(12, 49, 78) 99.79%
    ),
    url("./static/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
}
.PhoneInput {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  outline: none;
}
.PhoneInputInput {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.5rem;
  outline: none;
}

.enter-animation {
  animation: enter 0.23s ease-in-out;
}
@keyframes enter {
  0% {
    height: 0;
  }
  50% {
    height: 20vh;
  }
  100% {
    height: 50vh;
  }
}
.exit-animation {
  animation: exit 0.25s ease-in-out;
}
@keyframes exit {
  0% {
    height: 50vh;
  }
  50% {
    height: 20vh;
  }
  100% {
    height: 0vh;
  }
}
/* Range slider */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
